/* .MuiContainer-root {
  margin-top: 2rem;
} */

html {
  overflow: scroll;
  min-width: 375px;
  min-height: 599px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  position: relative;
}

.MuiCard-root {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.MuiCardMedia-media {
  margin-top: 2rem;
  max-width: 50px;
  max-height: 50px;
}

.MuiCardActions-root {
  margin-bottom: 2rem;
}

.MuiTextField-root {
  width: 18rem;
}

.MuiAlert-root {
  margin-top: 2rem;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
}